$default-font: 		'Source Sans Pro', sans-serif;
$default-size:           15px;

$fancy-font:             'Source Serif Pro', serif;

$color-black:            #111111;
$color-red:              #D4381D;
$color-dark-red:         #B62D18;
$color-yellow:           #FFCE54;
$color-dark-yellow:      #f6bb42;
$color-blue:             #4B89DC;
$color-dark-blue:        #366CB4;
$color-green:		     #a0d468;
$color-dark-green:		#8cc152;
$color-lightest-gray:    #F1F1F1;
$color-light-gray:       #E7E7E7;
$color-medium-gray:      #999999;
$color-mediumer-gray:    #888888;
$color-dark-gray:        #666666;
$color-white:            #FFFFFF;
